
body {
    background: #f6f9fb
}

#loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

#loading-wrapper .loader {
    width: fit-content;
    font-size: 2rem;
    font-weight: 600;
    background: radial-gradient(circle closest-side, #111018 94%, rgba(0, 0, 0, 0)) right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear
}

#loading-wrapper .loader::before {
    content: "Loading...";
    line-height: 1em;
    color: rgba(0,0,0,0);
    background: inherit;
    background-image: radial-gradient(circle closest-side, #ffffff 94%, #111018);
    -webkit-background-clip: text;
    background-clip: text
}

@keyframes l24 {
    100% {
        background-position: left
    }
}

.btn-primary {
    color: #ffffff;
    background-color: #5b4da4;

}

.text-primary {
    color: rgba(91, 77, 164,1) !important;
}

a {
    color: #75758d;
    text-decoration: none
}

a:hover {
    color: #383848;
    text-decoration: none
}

.box-shadow,.avatar-box,.header-actions .header-icon,.toggle-sidebar,.pin-sidebar,.modal-content {
    box-shadow: inset 1.5px 1.5px 0px rgba(255,255,255,.25),inset -1.5px -1.5px 0px rgba(0,0,0,.1)
}

.card-shadow,.app-footer,.card {
    box-shadow: 0px 2px 6px rgba(40,90,185,.1)
}


.card {
    border: 0
}

.card-header {
    border: 0
}

.card-header .card-title {
    margin: 0
}

.card-footer {
    border: 0
}

.dropdown-menu {
    border: 0;
    box-shadow: 0 1rem 3rem rgba(17, 16, 24, 0.175) !important;
}

.dropdown-menu:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 10px;
    background: #fff;
    top: -5px;
    left: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.dropdown-menu.dropdown-menu-end:after {
    left: inherit;
    right: 10px
}

@media(min-width: 992px) {
    .dropdown:hover>.dropdown-menu {
        display:block
    }

    .dropdown:hover .dropdown-menu-end {
        right: 0
    }
}

.dropup .dropdown-menu:after {
    top: inherit;
    bottom: -8px;
    left: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e6e5ef
}

.dropend .dropdown-menu:after {
    top: 8px;
    left: -8px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e6e5ef
}

.dropstart .dropdown-menu:after {
    left: inherit;
    top: 8px;
    right: -8px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #e6e5ef
}

.dropdown-300 {
    min-width: 300px;
    max-width: 320px
}

.dropdown-300 {
    width: 300px
}

.dropdown-mini {
    width: 50px;
    min-width: 50px
}

.breadcrumb {
    margin: 0
}

.breadcrumb .breadcrumb-item {
    display: flex;
    align-items: center;
    color: #fff
}

.breadcrumb .breadcrumb-item a {
    color: #fff
}

.breadcrumb .breadcrumb-item i {
    font-size: 1.5rem;
    margin-right: .75rem
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    font-family: "remixicon" !important;
    content: "";
    font-size: 1.5rem;
    line-height: 1;
    vertical-align: middle;
    color: #fff
}

.breadcrumb .breadcrumb-active {
    font-weight: 500
}

.img-shadow {
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
    border: 3px solid #fff
}


.img-3x {
    width: 3rem;
    height: 3rem
}


.img-5x {
    width: 5rem;
    height: 5rem
}


.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #fff
}

.icon-box.sm {
    width: 2rem;
    height: 2rem
}

.icon-box.md {
    width: 3rem;
    height: 3rem
}

.icon-box.lg {
    width: 4rem;
    height: 4rem
}

.icon-box.xl {
    width: 5rem;
    height: 5rem
}

.animate-box {
    position: relative;
    transform: translate3d(0, 0, 35px) perspective(100px);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem
}

.animate-box:before {
    box-shadow: inset 1.5px 1.5px 0px rgba(255,255,255,.25),inset -1.5px -1.5px 0px rgba(0,0,0,.1);
    position: absolute;
    content: "";
    z-index: -1;
    width: 5rem;
    height: 5rem;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: border-transform 6s linear infinite
}

.animate-box.md {
    width: 4rem;
    height: 4rem
}

.animate-box.md:before {
    width: 4rem;
    height: 4rem
}

.animate-box.peach:before {
    background: #f99746
}

.animate-box.img-bg-1::before {
    background: url(../images/products/10.jpg);
    background-size: 100%
}

.animate-box.img-bg-2::before {
    background: url(../images/products/16.jpg);
    background-size: 100%
}

.animate-box.img-bg-3::before {
    background: url(../images/products/2.jpg);
    background-size: 100%
}

@keyframes border-transform {
    0%,100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
    }
}

.bg-primary1 {
    background: #6b5fad
}

.bg-primary1-subtle {
    background: #e8e6f2
}

.bg-primary2 {
    background: #7c71b6
}

.bg-primary2-subtle {
    background: #e9e7f3
}

.bg-primary3 {
    background: #8c82bf
}

.bg-primary3-subtle {
    background: #e9e7f3
}

.bg-primary4 {
    background: #9d94c8
}

.bg-primary4-subtle {
    background: #eae8f3
}

.bg-primary5 {
    background: #ada6d2
}

.bg-primary5-subtle {
    background: #ebeaf4
}

.bg-primary6 {
    background: #bdb8db
}

.bg-primary6-subtle {
    background: #ecebf5
}

.bg-primary7 {
    background: #d2cee7
}

.bg-primary7-subtle {
    background: #fff
}

.bg-primary8 {
    background: #eceaf5
}

.bg-primary8-subtle {
    background: #fff
}


.bg-3 {
    background: url(../images/bg3.svg);
    background-size: cover ;
    background-position: right bottom
}

.bg-grd {
    background: linear-gradient(45deg, #f7f5ff, #ffffff, rgba(255, 255, 255, 0.3), rgba(245, 249, 255, 0.5))
}

.chart-height-sm {
    height: 100px
}

.chart-height-md {
    height: 150px
}

.chart-height {
    height: 240px
}

.chart-height-lg {
    height: 300px
}

.chart-height-xl {
    height: 360px
}

.chart-height-xxl {
    height: 480px
}

.map-body-xl {
    height: 640px
}

.card-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.2);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center
}

.card-loader .spinner-border {
    width: 5rem;
    height: 5rem
}

.page-wrapper {
    margin: 0
}

.page-wrapper.pinned .main-container {
    padding-left: 74px
}

@media screen and (max-width: 1199.98px) {
    .page-wrapper .sidebar-wrapper {
        left:-270px
    }

    .page-wrapper.toggled .sidebar-wrapper {
        left: 0;
        box-shadow: 0 2px 10px rgba(40,90,185,.2);
        -webkit-border-radius: 0 20px 0 0;
        -moz-border-radius: 0 20px 0 0;
        border-radius: 0 20px 0 0
    }

    .page-wrapper .main-container {
        padding-left: 0
    }

    .page-wrapper.pinned .main-container {
        padding-left: 0
    }
}

@media(min-width: 1200px) {
    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
        width:74px
    }

    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-profile .img-5x {
        width: 3rem;
        height: 3rem
    }

    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-profile .profile-name {
        max-width: 64px
    }

    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .menu-text,.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .treeview.active .treeview-menu,.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu li.treeview:after,.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .badge,.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-contact {
        display: none !important
    }
}

.main-container {
    padding: 0 0 0 250px;
    -webkit-transition: padding-left .3s ease;
    transition: padding-left .3s ease
}

.sidebar-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 13px;
    border-bottom: 1px solid #e3e2e9;
    margin-bottom: 1rem
}

.sidebar-profile .count-dot {
    position: absolute;
    top: 0;
    right: 2px;
    width: 21px;
    height: 21px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #e66868;
    border: 3px solid #fff;
    animation: blinker 2s infinite
}

@keyframes blinker {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    80% {
        opacity: .9
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.sidebar-wrapper {
    background-color: #fff;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    -webkit-transition: left .3s ease,width .3s ease;
    transition: left .3s ease,width .3s ease;
    box-shadow: 0 2px 8px rgba(40,90,185,.1)
}

.sidebar-contact {
    padding: 10px 15px 10px 50px;
    background: #f3f2f9;
    border: 1px solid #bdb8db;
    color: #5b4da4;
    margin: 18px 20px 8px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative
}

.sidebar-contact i {
    font-size: 1.75rem;
    position: absolute;
    bottom: 10px;
    left: 10px
}

.app-brand {
    display: flex;
    align-items: center;
    justify-content: center
}

.app-brand .logo {
    max-width: 190px;
    max-height: 40px
}

.toggle-sidebar,.pin-sidebar {
    background: #fff;
    border: 3px solid #fff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}

.toggle-sidebar i,.pin-sidebar i {
    color: #5b4da4;
    font-size: 1rem
}

.toggle-sidebar {
    display: none
}

.pin-sidebar {
    display: flex
}

@media(max-width: 1199.98px) {
    .toggle-sidebar {
        display:flex
    }
}

@media(max-width: 1200px) {
    .pin-sidebar {
        display:none
    }
}

.sidebar-menu {
    list-style-type: none;
    margin: 0 10px;
    padding: 0
}

.sidebar-menu>li {
    position: relative;
    margin: 0 0 1px 0
}

.sidebar-menu>li.treeview:after {
    font-family: "remixicon" !important;
    font-weight: 500;
    font-size: 1rem;
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 14px;
    color: #0e0c18;
    transition: all .5s
}

.sidebar-menu>li.treeview.active:after {
    transform: rotate(-90deg)
}

.sidebar-menu>li>a {
    padding: 7px;
    display: flex;
    align-items: center;
    color: #0e0c18;
    white-space: nowrap;
    font-size: .95rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.sidebar-menu>li>a>i {
    font-size: 1.15rem;
    flex-shrink: 0;
    background: #f3f0ff;
    width: 36px;
    height: 36px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    transition: all .3s;
    transform: scale(1)
}

.sidebar-menu>li:hover>a {
    color: #0e0c18;
    background: #f3f0ff
}

.sidebar-menu>li:hover>a i {
    background: #fff;
    color: #5b4da4;
    transform: scale(1.1)
}

.sidebar-menu>li>.treeview-menu {
    padding: 0
}

.sidebar-menu>li .menu-title {
    padding: 8px 25px 8px 18px;
    color: #5b4da4;
    font-size: .875rem;
    border-top: 1px solid #e3e2e9
}

.sidebar-menu>li .disabled {
    opacity: .5;
    pointer-events: none
}

.sidebar-menu>li.active>a {
    color: #0e0c18;
    background: #f3f0ff
}

.sidebar-menu>li.active>a i {
    background: #fff;
    color: #5b4da4
}

.sidebar-menu li.active>.treeview-menu {
    display: block
}

.sidebar-menu>li.current-page>a {
    color: #5b4da4
}

.sidebar-menu>li.current-page>a:hover {
    color: #5b4da4
}

.sidebar-menu>li.current-page>a i {
    background-color: #5b4da4;
    color: #fff
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px
}

.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px
}

.sidebar-menu .treeview-menu>li {
    margin: 0
}

.sidebar-menu .treeview-menu>li>a {
    padding: 10px 15px 10px 60px;
    display: block;
    color: #0e0c18;
    white-space: nowrap
}

.sidebar-menu .treeview-menu>li>a .ri-arrow-right-s-line {
    float: right;
    transition: all .5s;
    transform: rotate(0deg);
    font-size: 1rem
}

.sidebar-menu .treeview-menu>li>a:hover {
    color: #5b4da4
}

.sidebar-menu .treeview-menu>li>a.active-sub {
    position: relative;
    color: #5b4da4
}

.sidebar-menu .treeview-menu>li>a.active-sub:hover {
    color: #5b4da4
}

.sidebar-menu .treeview-menu>li.active>a .ri-arrow-right-s-line {
    transform: rotate(-90deg)
}

.app-container {
    padding: 0
}

.app-header {
    padding: 0 1.25rem;
    min-height: 50px;
    background: #5b4da4;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.15)
}


.header-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 0 0 auto
}

.header-actions .dropdown-toggle::after {
    display: none
}

.header-actions .dropdown-toggle .count-dot {
    position: absolute;
    top: -4px;
    right: -2px;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #81b677
}

.header-actions .header-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.search-container {
    position: relative
}

.search-container .form-control {
    min-width: 230px;
    transition: all ease .5s;
    min-height: 30px;
    padding-left: 36px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #6b5fad;
    border: 0
}

.search-container .form-control:focus {
    min-width: 240px;
    box-shadow: 0 0 0 .25rem rgba(0,0,0,.1)
}

.search-container i {
    position: absolute;
    left: 10px;
    top: 7px;
    line-height: 1;
    color: #bdb8db;
    font-size: 1.25rem
}

.avatar-box {
    width: 38px;
    height: 38px;
    color: #fff;
    background: #5b4da4;
    border: 3px solid #5b4da4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: relative
}

.avatar-box .status {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #fff
}

.avatar-box .status.busy {
    background: #e66868
}

.avatar-box .status.online {
    background: #81b677
}

.avatar-box .status.away {
    background: #d2ba63
}

.app-hero-header {
    background: #5b4da4;
    padding: 1rem 1.5rem
}

.app-body {
    padding: 0rem 1.5rem 0 1.5rem;
    min-height: calc(100vh - 165px);
    position: relative
}

.app-body:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 120px;
    background: #5b4da4;
    z-index: -5
}

.app-footer {
    font-size: .725rem;
    margin: .6rem 1.5rem;
    padding: .4rem 1rem;
    color: #5b4da4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}

.sun {
    position: absolute;
    top: 70px;
    right: 120px
}

.header-country-flag {
    height: 20px;
    width: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.country-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.country-container img {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.stacked-images {
    display: flex
}

.stacked-images.center {
    justify-content: center
}

.stacked-images img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    margin-right: -10px
}

.stacked-images .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    width: 32px;
    height: 32px
}

.activity-list {
    margin: 0;
    list-style-type: none
}

.activity-list .activity-list {
    border-bottom: 1px dotted #e6e5ef
}


.sidebarMenuScroll {
    height: calc(100vh - 295px);
    max-height: 500px;
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: 0px !important;
}


*::-webkit-scrollbar {
    width: 0rem;
    height: .5rem;
}

.scroll300 {
    height: 300px;
    overflow: hidden
}

.scroll350 {
    height: 350px;
    overflow: hidden
}

.auto-align-graph .apexcharts-canvas {
    margin: auto
}